@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-debug {
    @apply border border-red-500;
  }
  .center-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* ============== Form styling ===============*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  overflow: overlay;
}

/* ============== Selection styling ===============*/
*::selection {
  color: rgb(0, 0, 0);
  background: #df843091;
  /* background:#ffffff83; */
}
*::-moz-selection {
  color: rgb(0, 0, 0);
  background: #dd843191;
}

*:focus{
  outline-color: #6E4221;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
}
